###########
### API ###
###########
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
api.properties

###########
### APP ###
###########
# compiled output
packages/app/dist
packages/app/tmp
packages/app/out-tsc
# Only exists if Bazel was run
packages/app/bazel-out

# dependencies
packages/app/node_modules

# profiling files
chrome-profiler-events*.json

###########
### IDE ###
###########
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
**/typings
*.iml

# System Files
.DS_Store
Thumbs.db

######################
### Docker Compose ###
######################
.env